#Fondo{
    -fx-background-color: rgba(49, 41, 41, 0.93);
}

#Fondo2{
    -fx-background-color: rgba(14, 13, 13, 0.93);
    -fx-border-radius: 25%;
}

#Labels{
    -fx-text-fill: white;
}

#TextFields{
    -fx-background-color: rgba(49, 41, 41, 0.93);
    -fx-border-color: #4a97f0;
    -fx-border-radius: 10%;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

#TextFields:focused{
    -fx-prompt-text-fill: rgba(49, 41, 41, 0.93);
}

#PasswordFields{
    -fx-background-color: rgba(49, 41, 41, 0.93);
    -fx-border-color: #4a97f0;
    -fx-border-radius: 10%;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

#PasswordFields:focused{
    -fx-prompt-text-fill: rgba(49, 41, 41, 0.93);
}

#Buttons{
    -fx-background-color: #4a97f0;
    -fx-border-radius: 5%;
}

#Buttons:hover{
    -fx-background-color: gray;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#ComboBox {
    -fx-background-color: #4a97f0;
    -fx-text-fill: white;
    -fx-border-color: white;
}

#ComboBox .list-cell:selected {
    -fx-background-color: #03336a;
    -fx-text-fill: white;
}

#ComboBox .list-cell {
    -fx-background-color: rgba(49, 41, 41, 0.93);
    -fx-text-fill: white;
}

#ComboBox .list-cell:hover {
    -fx-background-color: #1e164f;
    -fx-text-fill: white;
}

#ComboBox .list-view .scroll-bar {
    -fx-background-color: #1e164f;
}

#Separadores{
    -fx-text-fill: rgba(23, 22, 22, 0.93);
}
#ListViews{
    -fx-background-color: rgba(49, 41, 41, 0.93);
}

#Button_back{
    --fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#Button_back:hover{
    -fx-background-color: #f3f3f3;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Button_back:pressed{
    -fx-background-color: #afaeae;
}

#Boton_Modo{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-image: url('../assets/light_mode.png');
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#Boton_Modo:hover{
    -fx-background-color: #afaeae;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Boton_Modo:pressed{
    -fx-background-color: #595b5d;
}

#fondoItem{
    -fx-background-color: #2b2b2b;
}

#ButtonList{
    --fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#ButtonList:hover {
    -fx-background-color: #beb5b5;
}

#ListViews .list-cell{
    -fx-background-color: #2b2b2b;
}

#ListViews .list-cell:hover{
    -fx-background-color: rgba(190, 189, 189, 0.56);
}